node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

## Macos .DS_Store files
.DS_Store
**/*.DS_Store

rk-src/logs
rk-src/docs/.vitepress/dist
rk-src/docs/.vitepress/cache

## meilisearch data
search-bin/*
