/* Sign in overlay page styles */
/*--------------------------------------*/
.signin-overlay-container {
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.64);
    backdrop-filter: blur(2px);
    z-index: 2000;
}
.signin-form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.457);
}
.signin-form-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
}
.signin-form-title-container p {
    font-size: 30px;
}
.signin-form-inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40%;
    margin-top: 40px;
}
.signin-form-inputs-container input {
    width: 60%;
    height: 20%;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
    font-size: 20px;
}
.signin-form-inputs-container input:focus {
    outline: none;
    border: 2px solid #006A4E;
}
.signin-form-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    border: none;
}
.signin-form-button-container button {
    width: 40%;
    height: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.signin-form-button-container button:active {
    background-color: #006A4E;
    box-shadow:  2px 2px rgba(0, 0, 0, 0.653);
}
/*--------------------------------------*/